.navbar-header {
float: left; 
}

.icon-bar {
background-color: black;
}

h1 {
font-family: 'Nunito', sans-serif;
color: #d02027;
font-size: 200%;
float: left;
}

h2 {
font-family: 'Carme', sans-serif;
color: #21418a;
}

h3 {
font-family: 'Josefin Slab', serif;
}

.copy {
font-family: 'Slabo 27px', serif;
font-size: 120%;
line-height: 30px;
}

nav a {
font-family: 'Carme', sans-serif;
color: #21418a;
}


.largecopy {
font-family: 'Josefin Slab', serif;
font-size: 150%;
}

.active {
color: #f68929;

}

.room {
padding-top: 20px;
padding-bottom: 40px;
}

.homepage {
padding-bottom: 40px;
}

.image {
}

.images {
padding-bottom: 40px;
}


body {
padding-bottom: 40px;

}

@media (min-width: 768px) {

.navbar-header {
float: left;
background-color: #21418a;
}

nav li {
display: inline;
padding: 9px;
}

.logo {
width: 30%;
}

nav a {
color: #f68929;
font-size: 100%;
}


.active {
color: #e1cb26;
}

nav {
background: #21418a;
padding-top: 45px;
}

.navbar-brand {
width: 2px;
height: 1px;
}

.homepage {
padding-bottom: 40px;
}

.image {
}

.images {
padding-bottom: 40px;
}


}


@media (min-width: 992px) {


nav a {
font-size: 140%;
}

nav li {
padding: 25px;
}

nav {
padding-top: 100px;
}

.navbar-header {
height: 1px;
}

.copy {
padding-bottom: 20px;
}

.form {
padding-bottom: 30px;
}

}

